<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :zipcode, style: "display: block" %>
    <%= form.text_field :zipcode, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :address_number, style: "display: block" %>
    <%= form.text_field :address_number, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :address_opt, style: "display: block" %>
    <%= form.text_field :address_opt, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :birthday, style: "display: block" %>
    <%= form.date_field :birthday, class: 'form-control' %>
  </div>
  <div class="form-check mt-3">
    <%= form.label :member, class: 'form-check-label' %>
    <%= form.check_box :member, class: 'form-check-input' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :member_at, style: "display: block" %>
    <%= form.date_field :member_at, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :office, style: "display: block" %>
    <%= form.select(:office, options_for_select(User.options_for_office), {}, class: 'form-select') %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :department_id, style: "display: block" %>
    <%= form.select(:department_id, options_for_select(Department.options_list), {}, class: 'form-select') %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :avatar, style: "display: block" %>
    <%= form.file_field :avatar, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :about, style: "display: block" %>
    <%= form.text_area :about, class: 'form-control' %>
  </div>
  <div class="form-check mt-3">
    <%= form.label :active, class: 'form-check-label' %>
    <%= form.check_box :active, class: 'form-check-input', checked: true %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
