<div id="<%= dom_id event %>">
  <div class="form-group mt-3">
    <label for="title"><strong>Title</strong></label>
    <input class="form-control" type="text" id="title" value="<%= event.title %>" readonly>
  </div>
  <div class="form-group mt-3">
    <label for="description"><strong>Description</strong></label>
    <input class="form-control" type="text" id="description" value="<%= event.description %>" readonly>
  </div>
  <div class="form-group mt-3">
    <label for="start_time"><strong>Start Time</strong></label>
    <input class="form-control" type="text" id="start_time" value="<%= event.start_time %>" readonly>
  </div>
  <div class="form-group mt-3">
    <label for="end_time"><strong>End Time</strong></label>
    <input class="form-control" type="text" id="end_time" value="<%= event.end_time %>" readonly>
  </div>
  <div class="form-group mt-3">
    <label for="department"><strong>Department</strong></label>
    <input class="form-control" type="text" id="department" value="<%= event.department.name %>" readonly>
  </div>
</div>
