<p style="color: green"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <h1>Events</h1>
  </div>
  <div class="card-body">
    <%= link_to "New event", new_event_path, class: 'btn btn-primary' %>
    <div class="text-center mt-3">
      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <div>
            <p>
              <% if event.end_time < Time.now %>
                <%= link_to "#{event.title} às #{event.start_time.strftime('%H:%M')}", event, class: 'btn btn-secondary' %>
              <% else %>
                <%= link_to "#{event.title} às #{event.start_time.strftime('%H:%M')}", event, class: 'btn btn-success' %>
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
