<%= form_with(model: income) do |form| %>
  <% if income.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>
      <ul>
        <% income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :kind, style: "display: block" %>
    <%= form.select(:kind, options_for_select(Income.options_for_kind), {}, class: 'form-select') %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :origin, style: "display: block" %>
    <%= form.text_field :origin, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :when, style: "display: block" %>
    <%= form.date_field :when, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
