<div id="<%= dom_id income %>">
  <p>
    <strong>Amount:</strong>
    <%= income.amount %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= income.kind %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= income.origin %>
  </p>

  <p>
    <strong>When:</strong>
    <%= income.when %>
  </p>

  <p>
    <strong>File:</strong>
    <%= link_to income.file.filename, income.file if income.file.attached? %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= income.description %>
  </p>

</div>
